.journey{
    &-container{

        margin-top: 50px;
        width: 730;
    }
    &-map{
        
        margin-left: auto;
        margin-right: auto;
        width: 730px;
        height: 200px;
        border: 0px solid #AFB1B6 ;
        border-radius: 10px;
    
        
        
    }



}
